body {
    color: orange;
    background-image: url(guy-2607261_1920.jpg);
    background-repeat: no-repeat; 
}

.h1 {
    color: orange;
}

@media screen and (min-width: 768px) {
    .description {
        position: relative;
        top: -700px;
        left: 900px;
    }  
}

@media screen and (min-width: 450px) {
    .description2 {
        position: relative;
        top: 700px;
        left: 1000px
    }
}